<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zqf.lifehelp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <!--6.0权限申请-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:name="com.zqf.lifehelp.app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.zqf.lifehelp.view.activity.MainActivity">

        </activity>
        <activity android:name="com.zqf.lifehelp.view.activity.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.zqf.lifehelp.view.permis.PermissionAct"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zqf.lifehelp.view.activity.TagSelection"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zqf.lifehelp.view.activity.WeatherActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zqf.lifehelp.view.activity.Recipes"
            android:screenOrientation="portrait"/>
    </application>

</manifest>